
/*HTML元素*/
body{
    font-size: 1.25rem;
    background-color: antiquewhite;
}
a{
    color: #ee541d;
    text-decoration: none;
}
/*CLASS*/
.req-cls{
    background-color: mistyrose}

/*ID*/
#hate{
    color: #ff4145;
}
